@charset "UTF-8";
.site-menu ul li a {
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
   
}

*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul
ol{
    color: inherit;
    text-decoration: none;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #000000;
    line-height: 1;
    background-color: #ffffff;
}
h1{
    color: rgb(255, 255, 255);
    font-weight: 900;
    font-size: 30px;
    margin-left: 30px;
}
h2{
    color: rgb(253, 251, 255);
    font-weight: bolder;
    font-size: 25px;
    margin-left: 30px;
}
img{
    max-width: 100%;
}
.header-inner{
    background-color: #ffffff;
    max-width: auto;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
    padding-right: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.toggle-menu-button{
    display: none;
}
.header h1{
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: 900;
}
.header-logo{
    display: block;
    width: 170px;
}
.footer{
    color: #ffffff;
    background-color: #000000;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-logo{
    display: block;
    width: 30px;
    margin-top: 5px;
}
.footer-number{
    font-size: 26px;
    font-weight: bold;
    margin-top: 5px;
}
.footer-mail{
    font-size: 26px;
    font-weight: bold;
    margin-top: 5px;
}
.copyright{
    font-size: 14px;
    font-weight: bold;
    margin-top: 30px;
}
p {
    margin-left: 40px;
}
h5{
    font-weight: 900;
    font-size: 15px;
    color: rgb(255, 255, 255);
}
.main{
    background-color: rgb(252, 249, 249);
}
.head{
    background-color: black;
    
}
.h2 main{
    background-color: #000000;
}