@charset "UTF-8";
*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.footer-number{
    font-size: 26px;
    font-weight: bold;
    margin-top: 5px;
}
.footer-mail{
    font-size: 26px;
    font-weight: bold;
    margin-top: 5px;
}
.copyright{
    font-size: 14px;
    font-weight: bold;
    margin-top: 30px;
}
p {
    margin-left: 40px;
}
.footer{
    color: #ffffff;
    background-color: #000000;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-inner{
    background-color: #5e5708;
    max-width: auto;
    height: 110px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
    padding-right: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.toggle-menu-button{
    display: none;
}